# Veja https://help.github.com/articles/ignoring-files/ para saber mais sobre arquivos ignorados.

# dependências
/node_modules
/.pnp
.pnp.js

# testes
/coverage

# next.js
/.next/
/out/

# produção
/build
.env

# diversos
.DS_Store
*.pem

# logs de debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# arquivos de variáveis de ambiente locais (NUNCA comite suas senhas/chaves secretas)
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo